{{ 'get-started.css' | asset_url | stylesheet_tag }}

<div class="outerContainerGS">
  <div class="containerGS">
    <div class="welcomeWave">
      <img
        id="waveGIF"
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Wave.gif?v=1736281972"
        alt=""
        width="1000"
        height="1000"
        loading="lazy"
      >
      <img
        id="goldBackground"
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Asset_10.png?v=1736281969"
        alt=""
        width="1000"
        height="1000"
        loading="lazy"
      >
    </div>
    <h1 class="h0">Welcome, Parents & Guardians!</h1>
    <p class="subtitle">Download the app to start participating in your student's fundraiser</p>
    <div class="downloadIcons">
      <a href="https://apps.apple.com/us/app/fundraise-a-thon/id6449069221" target="_blank">
        {% render 'apple-download-icon' %}
      </a>

      <a href="https://play.google.com/store/apps/details?id=com.scentcofundraise" target="_blank">
        <img
          class="appIcons"
          src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/GetItOnGooglePlay_Badge_Web_color_English.png?v=1736192994"
          alt=""
          width="1000"
          height="1000"
          loading="lazy"
        >
      </a>
    </div>
    <div class="banner__buttons">
      <a href="/pages/about-the-app" class="button button--primary">Learn more about the app</a>
    </div>
  </div>
  <div class="pointed-border">test</div>
  <div class="secondSection">
    <div class="whiteBox containerGS">
      <h1 class="h0">In a hurry?</h1>
      <p class="subtitle">
        We understand that parents are busy! If you’re not interested in the mobile app, you can still show your support
        by making a general donation to your student’s fundraiser.
      </p>
      <p class="subtitle">Note: Without the app, your donation cannot be credited to your student.</p>
      <div class="banner__buttons">
        <a href="/products/anonymous-donation" class="button button--secondary">Donate without the app</a>
      </div>
    </div>
  </div>
</div>
