<link rel="stylesheet" href="{{ 'how-it-works-timeline.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="page-width outerTimelineContainer">
  <div class="timeline-box">
    <div class="piggyContainer">
      <img
        class="piggy"
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/birds-eye-piggy.png?v=1738622437"
        width="200"
        height="200"
      >
    </div>
    <div class="timeline"></div>
  </div>

  <div class="verticalBox">
    {% comment %} SET UP YOUR FUNDRAISER {% endcomment %}
    <div class="row">
      <img
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Set_up_your_fundraiser.png?v=1737066661"
        width="1000"
        height="1000"
      >

      <div class="textBox">
        <h2 class="h2">Set up your fundraiser</h2>
        <p>
          From your admin dashboard, upload your school logo, add fundraiser details, choose exciting incentives, and
          organize groups in just a few clicks!
        </p>
        <button class="button button-primary">Learn more</button>
      </div>
    </div>

    {% comment %} SPREAD THE WORD {% endcomment %}
    <div class="row">
      <img
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Spread_the_word.png?v=1737066671"
        width="1000"
        height="1000"
      >

      <div class="textBox">
        <h2 class="h2">Spread the word</h2>
        <p>
          Equip students with free lanyards and flyers, and use our professionally designed email and poster templates
          to promote your fundraiser with ease.
        </p>
        <button class="button button-primary">Learn more</button>
      </div>
    </div>

    {% comment %} PARENTS TAKE THE LEAD {% endcomment %}
    <div class="row">
      <img
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Parents_take_the_lead.png?v=1737066625"
        width="1000"
        height="1000"
      >

      <div class="textBox">
        <h2 class="h2">Parents take the lead</h2>
        <p>
          With a quick scan of the lanyard’s QR code, parents can download our mobile app and start participating
          immediately—no hassle, no delays!
        </p>
        <button class="button button-primary">Learn more</button>
      </div>
    </div>

    {% comment %} STAY ON TOP OF YOUR FUNDRAISER {% endcomment %}
    <div class="row">
      <img
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Stay_on_top_of_your_fundraiser.png?v=1737066643"
        width="1000"
        height="1000"
      >

      <div class="textBox">
        <h2 class="h2">Stay on top of your fundraiser</h2>
        <p>
          Easily monitor group standings, individual student participation, and total donations in real-time. Send
          updates, reminders, and motivational announcements straight to parents’ phones.
        </p>
        <button class="button button-primary">Learn more</button>
      </div>
    </div>

    {% comment %} GET PAID FAST {% endcomment %}
    <div class="row">
      <img
        src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/Spread_the_word.png?v=1737066671"
        width="1000"
        height="1000"
      >

      <div class="textBox">
        <h2 class="h2">Get paid fast</h2>
        <p>You keep an amazing 85% of all funds raised, making this one of the highest return fundraisers available!</p>
        <button class="button button-primary">Learn more</button>
      </div>
    </div>
  </div>
</div>
